@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Orbitron:wght@400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --bg-color: #212a34;
  --second-bg-color: #353f4e;
  --text-color: #fff;
  --main-color: #d80404;

  --font-1: "Orbitron", sans-serif;
  --font-2: "Comfortaa", sans-serif;
  --font-3: "IBM Plex Mono", monospace;
}

section {
  height: 100vh;
  padding: 0 16rem;
}

/* -------------- */
/* HEADER SECTION */
/* -------------- */

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 2rem 5rem;
  width: 100%;
  position: fixed;
  top: 0;
}

.header-logo a {
  font-family: var(--font-1);
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--main-color);
  text-decoration: none;
}

.header-navbar {
  font-family: var(--font-2);
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.header-navbar a {
  font-weight: 400;
  font-size: 1.9rem;
  color: var(--text-color);
  text-decoration: none;
}

.header-navbar a:hover,
.header-navbar a:active {
  color: var(--main-color);
}

/* -------------- */
/*  HOME SECTION */
/* -------------- */

.home {
  background-color: var(--bg-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.home-text {
  width: 70%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-text__header h1 {
  font-family: var(--font-1);
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--main-color);
}

.home-text__header h3 {
  font-family: var(--font-2);
  font-size: 3.2rem;
  font-weight: 700;
}

.home-text__par {
  font-family: var(--font-3);
  font-weight: 400;
  font-size: 1.6rem;
}

.home-text__links {
  display: flex;
  gap: 3rem;
}

.home-text__links a {
  width: 4rem;
  height: 4rem;
  font-size: 4.8rem;
  font-weight: 400;
  color: var(--main-color);
  margin: 6rem 3.2rem;
  text-decoration: none;

  text-align: center;
  border-radius: 50%;
}

.home-text__links a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 4.8rem var(--main-color);
}

.home-text__btn a {
  font-family: var(--font-2);
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--second-bg-color);
  background-color: var(--main-color);
  border-radius: 1.2rem;
  letter-spacing: 0.5rem;
  padding: 2rem 5rem;
  box-shadow: 0 0 4rem var(--main-color);
}

.home-img {
  width: 30%;
}

.home-img img {
  width: 100%;
  border-radius: 3rem;
  animation: moveUpDown 3s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5rem);
  }

  100% {
    transform: translateY(0);
  }
}

/* -------------- */
/*  ABOUT SECTION */
/* -------------- */

.about {
  background-color: var(--second-bg-color);
  display: flex;
  align-items: center;
  gap: 3rem;
}

.about-img {
  width: 25%;
}

.about-img img {
  width: 100%;
  border-radius: 3rem;
  animation: moveUpDown 3s ease-in-out infinite;
}

.about-text {
  width: 75%;
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-text__header {
  font-family: var(--font-2);
  font-weight: 700;
}

.about-text__header h2 {
  font-size: 4.8rem;
}

.about-text__header h2 span {
  color: var(--main-color);
}

.about-text__header h3 {
  font-size: 2.4rem;
}

.about-text__par {
  font-family: var(--font-2);
  font-size: 1.6rem;
}

/* -------------- */
/* SKILLS SECTION */
/* -------------- */

.skills {
  font-family: var(--font-2);
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.skills-header {
  font-family: var(--font-2);
  font-weight: 700;
  font-size: 4.8rem;
}

.skills-header h3 {
  margin-bottom: 6.4rem;
}

.skills-header h3 span {
  color: var(--main-color);
}

.skills-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 1rem;
}

.card {
  background-color: var(--second-bg-color);
  padding: 1.6rem;
  border-radius: 3.2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);

  flex: 1 1 32rem;
  transition: all 1s ease-in-out;
}

.card:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
  box-shadow: 0 0 3rem var(--main-color);
}

.card i {
  font-size: 8rem;
  color: var(--main-color);
}

.card h3 {
  font-weight: 700;
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.card p {
  font-weight: 400;
  font-size: 1.1rem;
}

/* ---------------- */
/* PROJECTS SECTION */
/* ---------------- */

.projects {
  background-color: var(--second-bg-color);
}
